/*h4{
text-align: center;
}
#container img {
        max-width: 100%;
        height: auto;
    }
#container {
    display: flex;
    background-color:bisque;
    align-content: center;
    justify-content: center;
    height: 82vh;
    width: 99vw;
}
#container div {
     background-color:Grey;
     align-items: center;
     margin: 20px;
     width: 100%;
}
.row{
    background: white;
    border-radius: 30px;
}
img{
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
}
.navbar{
    border-style: double;
    border-color: white;
    background: white;
    border-width: 10px;
}
.navbar{
    border-style: double;
    border-color : white;
    background : white;
    border-width : 10px;
}
.navbar-nav .nav-item .nav-link .link-text {
    color: white;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
     padding: 10px 15px;
}
.navbar-nav .nav-item .nav-link:hover .link-text {
    color: #007bff;
    background: #333333;*/
}
.custom-btn-lg {
    width: 200px;
    height: 87px;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
}
.custom-col {
            width: 540px; /* Set the desired width */
            height: 362px; /* Set the desired height */
        }
/*
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    background-color: #f4f4f4;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

.popup-close-btn {
    color: #888;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
*/

li::marker{
color:red;
}

@media (max-width: 768px) {
    .custom-btn-lg {
        width: 170px;
        height: 60px;
        padding: 8px 16px;
    }
}
.marquee-container {
    width: 100%;
    max-width: 90vh;
    max-height: 300px;
    overflow: hidden;
}

.custom-col {
    width: 100%;
    padding: 10px;
}

.custom-col ul {
    margin: 0;
    padding: 0;
    list-style: disc inside;
    columns: 1;
}

.marquee-container marquee {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .marquee-container {
        max-width: none;
    }
}

footer {
    height: 7%;
  background:rgba(255, 255, 255, 0.4);
}
#hint_id_new_password1 {
    display: none;
}
#hint_id_new_password1 {
    display: block;
}
