{% extends 'base.html' %}
{% load static %}

{% block title %} Analytics Sheet Download {% endblock title %}

{% block content %}
<div class="container shadow-lg p-5 mt-5 bg-body rounded">
    <form method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="{{ form.start_date.id_for_label }}">Start Date:</label>
                    {{ form.start_date }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="{{ form.end_date.id_for_label }}">End Date:</label>

                    {{ form.end_date }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"><br>
                    <button type="submit" class="btn btn-primary">Download Sheet</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}