<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home Page {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-5 me-5" href="{% url 'Home' %}">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if not user.is_authenticated %}
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link ms-5 text-white" href="{% url 'LoginPage' %}">Login</a>
            </li>
        </ul>
        {% elif user.is_authenticated %}
        <ul class="navbar-nav ml-auto" style="position: absolute; right: 15px;">
            <li class="nav-item">
                <button type="submit" class="btn btn-primary"><a href="{% url 'Logout' %}"><strong style="color:white">Logout</strong></a></button>
            </li>
        </ul>
        {% if user.is_superuser %}
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link ms-5 text-white" href="{% url 'ShowUsers' %}">Show All Users</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link ms-5 text-white" href="{% url 'CreateGrievance' %}">Create Grievance User</a>
            </li>
        </ul>
        {% endif %}
       {% if user.is_superuser or user.is_staff %}
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link ms-5 text-white" href="{% url 'CreateStudent' %}">Create Student Id</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link ms-5 text-white" href="#">Show Grievance</a>
            </li>
        </ul>
        {% endif %}
        {% if not user.is_superuser and not user.is_staff %}
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link ms-5 text-white" href="#">Create Grievance</a>
            </li>
        </ul>
        {% endif %}
        {% endif %}
        </div>
</nav>
{% block content %}



{% endblock content %}

 <!-- Bootstrap JS and jQuery (optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>