{% extends 'base.html' %}
{% load static %}

{% block title %}Create Grievance{% endblock title %}

{% block content %}

<form action="" method="POST" novalidate class="shadow p-5">{% csrf_token %}
            {% for fm in form %}
             <div class="form-control">
              {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
              <br>
             </div>
            {% endfor %}
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn1">
                </div>
</form>

{% endblock content %}