{% extends 'base.html' %}
{% load static %}
{%load crispy_forms_tags %}

{% block title %}Create Student User{% endblock title %}
{% block content %}
<div class="container">
<form action="" method="POST" class="shadow-lg p-5 mb-5 bg-body rounded"  id="signup-form">{% csrf_token %}
    <div id="popup-user-message" class="popup-message">
        {% if messages %}
                <ul class="messages" style="list-style-type: none;">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            <span style="color: {% if message.tags == 'success' %}blue{% elif message.tags == 'error' %}red{% else %}black{% endif %};">
                                {{ message }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
    </div>
            {{form|crispy}}
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
    </div>
<script>
    document.getElementById('signup-form').addEventListener('submit', function (event) {
        const password1 = document.getElementById('id_password1').value;
        const password2 = document.getElementById('id_password2').value;
        if (password1 !== password2) {
            event.preventDefault();
            alert('Passwords do not match.');
        }
    });
</script>

{% endblock content %}