{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Verify Your Otp {% endblock title %}

{% block content %}

<div class="bg-image">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card text-center" style="width: 300px;">
            <div class="card-header h5 text-white bg-primary">Otp Verfication</div>
            <div class="card-body px-5">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <script>
                    const hintDiv = document.getElementById('hint_id_new_password1');
                    hintDiv.style.display = 'none';
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock content %}