{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Forget Password {% endblock title %}

{% block content %}
<div class="bg-image">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card text-center" style="width: 300px;">
            <div class="card-header h5 text-white bg-primary">Password Reset</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Enter your New Password.
                </p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
                <script>
                    const hintDiv = document.getElementById('hint_id_new_password1');
                    hintDiv.style.display = 'none';
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
