{% extends 'base.html' %}
{% load static %}
{% block title %} Forget Password {% endblock title %}

{% block content %}
<div class="bg-image">

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <p>Please check your Email inbox and follow the instruction to reset your password.</p>
    </div>
</div>


</div>

{% endblock content %}