{% extends 'base.html' %}
{% load static %}
{%load crispy_forms_tags %}
{% block title %} Forget Password {% endblock title %}

{% block content %}
<div class="bg-image">

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your Registered Email and we'll send you an email on your registered email with instructions to
                reset your password.
            </p>
            <form action="" method="POST">{% csrf_token %}
                {% if messages %}
                <ul class="messages" style="list-style-type: none;">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            <span style="color: {% if message.tags == 'success' %}blue{% elif message.tags == 'error' %}red{% else %}black{% endif %};">
                                {{ message }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {{form|crispy}}
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
            </a>
            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'Home' %}" style="display: block; text-align: center; width: 100%;">Login</a>
            </div>
        </div>
    </div>
</div>


</div>

{% endblock content %}