{% extends 'base.html' %}
{% load static %}

{% block title %} Show All Grivances {% endblock title %}

{% block content %}

{% if grivances %}
<div class="container shadow-lg p-5 mt-5 mb-5 bg-body rounded">
    <h1 style="text-align:center;">Grivances List</h1>
    <div class="table-responsive">
    <table class="table table-bordered" style="text-align:center;">
            <thead style="background-color: lightgrey;">
                <tr>
                    <th>Username</th>
                    <th>Student</th>
                    <th>Complain Type</th>
                    <th>Complain Date</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Current Status</th>
                    <th>Update Status</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                {% for i in grivances %}
                    <tr>
                        <td >{{ i.username }}</td>
                        <td>{{ i.student }}</td>
                        <td>{{ i.complain_type }}</td>
                        <td>{{ i.complain_date }}</td>
                        <td>{{ i.subject }}</td>
                        <td>{{ i.description }}</td>
                        <td>{{ i.status }}</td>
                        <td><a href="{% url 'UpdateGrivanceStatus' i.pk %}"><button type="button"
                                                                                class="btn btn-primary custom-btn-lg"
                                >Update Grivance Status</button></a>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% else %}
<div class="container mt-5 mb-5 bg-body rounded" style="height:80vh;">
    <div style="text-align:center;padding: 35vh;"><h1>No Grivances</h1></div>
</div>
{% endif %}


{% endblock content %}