{% extends 'base.html' %}
{% load static %}

{% block title %}All Users{% endblock title %}

{% block content %}

<div class="container mt-5 shadow-lg p-5 mb-5 bg-body rounded">
    {% if users %}
        <form method="get" class="d-flex" action="/home/search/">
           <input class="form-control me-2" type="search" placeholder="Search By Username" aria-label="username"
                  name="username"
                  id="username">
           <button class="btn btn-warning" type="submit">Search</button>
        </form>

        <h1 style="text-align:center;" class="mt-3">Users List</h1>

    <div class="table-responsive">
        <table class="table table-bordered" style="text-align:center;">
            <thead style="background-color: lightgrey;">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Is Staff</th>
                    <th>Is Student</th>
                    <th>Update User Details</th>
                    <th>Delete User</th>
                </tr>
            </thead>
            <tbody>
                {% for i in users %}
                <tr>
                    <td>{{ i.username|first|upper }}{{ i.username|slice:"1:" }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.is_staff }}</td>
                    <td>
                        {% if i.is_staff %}
                        False
                        {% else %}
                        True
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'updateuserdetails' i.id %}"><button type="button"
                                                                             class="btn btn-primary custom-btn-lg "
                                                data-target="#updatedetails{{ i.id }}"
                                data-toggle="modal">Update User Details</button></a>
                    </td>
                    <td>
                        <a href="{% url 'DeleteAllUsers' i.id %}">
                            <button type="button" class="btn btn-danger btn-primary custom-btn-lg">Delete User</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
            <h1 style="text-align:center;margin-top: 35%;">No Users Found</h1>
    {% endif %}
    </div>



{% endblock content %}
