{% extends 'base.html' %}
{% load static %}

{% block title %}All Users{% endblock title %}
{% block content %}
<div class="container">
    {% if users %}
    {% if user.is_superuser %}
        <h1 style="text-align:center;">Users List</h1>
        <table class="table table-bordered" style="text-align:center;">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Is Staff</th>
                    <th>Is Student</th>
                    <th>Update User Details</th>
                    <th>Delete User</th>
                </tr>
            </thead>
            <tbody>
                {% for i in users %}
                <tr>
                    <td>{{ i.username|first|upper }}{{ i.username|slice:"1:" }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.is_staff }}</td>
                    <td>
                        {% if i.is_staff %}
                        False
                        {% else %}
                        True
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary"
                                                data-target="#updatedetails{{ i.id }}"
                                data-toggle="modal">Update User Details</button>
                    </td>
                    <td>
                        <a href="{% url 'DeleteUsers' i.id %}">
                            <button type="button" class="btn btn-danger">Delete User</button>
                        </a>
                    </td>
                </tr>
                <div class="modal" id="updatedetails{{ i.id }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="text-primary">Update Details Of {{ i.username|title }}</h3>
                                <button type="submit" class="close" data-dismiss="modal"> &times; </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="post" novalidate>{% csrf_token %}
                                    {% if i.is_staff %}
                                    {% for fm in grievanceform %}
                                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                                    {% endfor %}
                                    {% else %}
                                    {% for fm in studentform %}
                                        {{fm.label_tag}} {{fm}} <small class="text-danger"></small>
                                    {% endfor %}
                                    {% endif %}
                                    <div class="text-center">
                                        <input type="submit" value="Submit" class="btn1">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
            {% if user.is_staff and not user.is_superuser %}
            <h1 style="text-align:center;">Students List</h1>
            <table class="table table-bordered" style="text-align:center;">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roll Number</th>
                    <th>School</th>
                    <th>Branch</th>
                    <th>Contact Number</th>
                    <th>Update User Details</th>
                    <th>Delete User</th>
                </tr>
            </thead>
            <tbody>
                {% for i in students %}
                    <tr>
                        <td>{{ i.username }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.email_id }}</td>
                        <td>{{ i.roll_number }}</td>
                        <td>{{ i.School }}</td>
                        <td>{{ i.Branch }}</td>
                        <td>{{ i.contact_number }}</td>
                        <td><button type="button" class="btn btn-primary"
                                                                      data-target="#updatedetails" data-toggle="modal">Update User Details</button></td>
                        <td><a href="{% url 'DeleteUsers' i.pk %}"><button type="button"
                                                                              class="btn btn-danger">Delete User</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}
            </table>
    {% else %}
            <h1 style="text-align:center;margin-top: 35%;">No Users Found</h1>
    {% endif %}
    </div>


{% endblock content %}